<div class="banner-footer" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/v1641116375/Portfolio/Blue_planet.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="link-to-me">
          <p>PHILIPPE CHAMBON</p>
          <p>Chef De Projet Digital</p>
          <p>modernboxrecords@gmail.com</p>
          <p>06.52.75.10.72</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer-copyright">
    Copyright Philippe Chambon <i class="fas fa-star"></i> 2022
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Navigation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= link_to root_path do %>
          <p class="btn-nav-modern">Accueil</p>
        <% end %>
        <%= link_to pages_service_path do %>
          <p class="btn-nav-modern">Service</p>
        <% end %>
        <%= link_to pages_journey_path do %>
          <p class="btn-nav-modern">Parcours</p>
        <% end %>
        <%= link_to pages_portfolio_path do %>
          <p class="btn-nav-modern">Porfolio</p>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to current_user do %>
            <p class="btn-nav-modern">Compte</p>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <p class="btn-nav-modern">Log out</p>
          <% end %>
        <% else %>
          <%= link_to new_user_registration_path do %>
            <p class="btn-nav-modern">Parlons ensemble</p>
          <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
