<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1641482239/Portfolio/Fichier_59_4x.png" %>
  <% end %>

  <i class="fas fa-bars navbar-toggler" data-toggle="modal" data-target="#exampleModal" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></i>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%= link_to 'service', pages_service_path, class: 'link' %>
      <%= link_to 'parcours', pages_journey_path, class: 'link' %>
      <%= link_to 'portfolio', pages_portfolio_path, class: 'link' %>
      <% if user_signed_in? %>
        <%= link_to "J'écoute", current_user, class: "btn btn-flat", id: 'chat' %>
      <% else %>
        <%= link_to 'Connexion', new_user_registration_path, class: "btn btn-flat", id: 'connexion'  %>
      <% end %>
    </ul>
  </div>
</div>


<div class="navbar navbar-expand-sm navbar-light navbar-lewagon-background">
</div>
<script>
  $(document).on('scroll', function (e) {
    $('.navbar-lewagon-background').css('opacity', ($(document).scrollTop() / 500));
  });
</script>

