<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1641111992/Portfolio/Fichier_40_4x.png" %>
  <% end %>

  <i class="fas fa-bars navbar-toggler" type="button" data-toggle="modal" data-target="#exampleModal" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></i>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%= link_to 'service', pages_service_path, class: 'link' %>
      <%= link_to 'parcours', pages_journey_path, class: 'link' %>
      <%= link_to 'portfolio', pages_portfolio_path, class: 'link' %>
      <%= link_to "Login", new_user_registration_path, class: "call-to-action" %>
    </ul>
  </div>

</div>


<div class="navbar navbar-expand-sm navbar-light navbar-lewagon-background">
</div>
<script>
  $(document).on('scroll', function (e) {
    $('.navbar-lewagon-background').css('opacity', ($(document).scrollTop() / 500));
  });
</script>

