<div class="video-container">
  <video id="background-video" autoplay loop muted>
    <source src="https://res.cloudinary.com/da2krghvd/video/upload/v1641502404/Portfolio/homepage_cinemagraph.mp4" type="video/mp4">
  </video>

  <div class="content">
    <div class="container">
      <h1><strong>Ensemble,</strong> visons les étoiles !</h1>
      <p> Je suis <strong>votre </strong>chef de projet digital</p>
      <a class="btn call-to-action center" href="#discovery">Suivez-moi</a>
    </div>
  </div>
</div>

<div class="banner" id='discovery' style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/v1641304244/Portfolio/swagg.jpg);">
  <div class="container">
    <h1>Bienvenue!</h1>
    <p class="section-description">Après avoir baigné près de 15 années dans le Digital appliqué à l'événementiel, j'ai pour vocation d'apporter mon expertise et mes compétences naturelles à des projets d'une toute nouvelle envergure.</p>
  </div>
  <div class="container">
    <div class="col-12 mx-auto">
      <h1>Découvrez mon savoir-faire</h1>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
        <div class="card">
          <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641116375/Portfolio/Blue_planet.jpg" class= 'picto'/>
          <h2 class='card-title'>Gestion de Projet web</h2>
          <div class="card-infos">
            <div>
              <p>Pour vous, je gère les projets web du brief à la livraison des éléments. Mon rôle est de faire l’interface entre le client et les différents prestataires afin d’apporter la solution la plus adaptée à la demande</p>
            </div>
          </div>
          <%= link_to 'Exemples', pages_service_path, class: "btn btn-moving" %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
        <div class="card">
          <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1640972930/Portfolio/anthony-delanoix-b5POxb2aL9o-unsplash.jpg" />
          <h2 class='card-title'>Web marketing / Trafic management</h2>
          <div class="card-infos">
            <div>
              <p>Qu’il s’agisse de stratégie digitale ou de référencement (SEO / SEA), je vous propose des solutions et améliore votre présence sur le web. J’analyse les statistiques de votre site et précise votre stratégie digitale.
              </p>
            </div>
          </div>
          <%= link_to 'Exemples', pages_service_path, class: "btn btn-moving" %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
        <div class="card">
          <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1640972322/Portfolio/pawel-czerwinski-blue.jpg" />
          <h2 class='card-title'> Design & Ergonomie</h2>
          <div class="card-infos">
            <div>
              <p>Je réalise des webdesign en accord avec votre charte graphique et votre stratégie webmarketing. Pour la réalisation de votre site Internet, j'utilise les technologies les plus adaptée à votre croissance. </p>
            </div>
          </div>
          <%= link_to 'Exemples', pages_service_path, class: "btn btn-moving" %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <div class="card">
          <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641110266/Portfolio/nick-nice-gPm8h3DS1s4-unsplash.jpg" />
          <h2 class='card-title'>SEO et rédaction web</h2>
          <div class="card-infos">
            <div>
              <p>Exister en digital, c'est figurer parmi les premiers résultats de recherche de Google, ainsi, j’optimise votre site web et propose donc mes services en référencement naturel et rédaction web.</p>
            </div>
          </div>
          <%= link_to 'Exemples', pages_service_path, class: "btn btn-moving" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="transition">
  <div class="container">
    <h1>Mon Parcours</h1>
    <p class="section-description">Découvrez mon parcours atypique, souvent apprécié pour l'évantail de compétences qui en découle.</p>
    <a href="#journey"><i class="fas fa-arrow-alt-circle-down action"></i></a>
  </div>
</div>
<div class="banner" id='journey' style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/v1641110266/Portfolio/nick-nice-gPm8h3DS1s4-unsplash.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="cv-link">
          <h1>Une formation en sciences humaines</h1>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <p> Ma formation d’origine en psychologie m'a permis de combler <strong>un intêret particulier pour le comportement humain</strong> ainsi que d'apprendre à mettre en place une <strong>méthodologie de travail rigoureuse.</strong></p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641133300/Portfolio/ezgif.com-gif-maker.gif" />
            </div>
          </div>
          <%= link_to 'Formations', pages_journey_path, class: 'btn btn-flat' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="cv-link">
          <h1>Un centre d'intêret constant</h1>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641133300/Portfolio/ezgif.com-gif-maker.gif" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <p>Passionné de musique, j'ai eu à coeur de <strong>mener un projet</strong> de vie dans les domaines du spectacle et de me consacrer à <strong>la production, réalisation et diffusion de projets.</strong></p>
            </div>
          </div>
          <%= link_to 'Réalisations', pages_journey_path, class: 'btn btn-flat' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="cv-link">
          <h1>Un développement personel</h1>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <p>La vie est faite <strong>d'opportunités que l'on choisit de saisir</strong>, pour ce qui me concerne, un sejour linguistique d'un an en Angleterre m'a permis de découvrir <strong>l'hôtellerie de luxe pour y évoluer professionnellement.</strong></p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641133300/Portfolio/ezgif.com-gif-maker.gif" />
            </div>
          </div>
          <%= link_to 'Expériences', pages_journey_path, class: 'btn btn-flat' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="transition">
  <div class="container">
    <h1>Les Projets</h1>
    <p class="section-description">Entrez dans ma galerie, c'est un peu comme une chambre noire... découvrez-y mes références. Pour consulter les travaux en eux-mêmes, cliquez sur la flêche</p>
    <%= link_to pages_portfolio_path do %>
      <i class="fas fa-arrow-alt-circle-down action"></i>
    <% end %>
  </div>
</div>
<%= render 'shared/image_grid' %>
<div class="transition">
  <div class="container">
    <h1>Merci!</h1>
    <p class="section-description">Je tiens à vous remercier d'avoir pris de votre temps pour ce tour d'horizon et vous invite à rester en contact</p>
    <p class="section-description">C'est ici.</p>
    <a href='#carte_de_visite'><i class="fas fa-arrow-alt-circle-down action"></i></a>

  </div>
</div>
<%= render 'shared/footer' %>
