<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/v1640972322/Portfolio/pawel-czerwinski-blue.jpg);">
  <div class="container">
    <h1>Ensemble, <strong>visons les étoiles !</strong></h1>
    <p> Je suis <strong>votre </strong>chef de projet digital</p>
    <a class="btn btn-flat" href="#discovery">Mes activités</a>
    <%=link_to 'Parlons ensemble', new_user_registration_path, class: 'btn call-to-action' %>
  </div>
</div>
<div class="break"></div>
<div class="transition">
  <h1>Les projets</h1>
</div>
<div class="row straight">
  <div class="column">
    <%= link_to 'https://laptitechope.herokuapp.com', target: "_blank" do  %>
      <div class="each" style="width:100%">
        <img src="https://res.cloudinary.com/da2krghvd/image/upload/c_fill,h_1424,w_2160/v1641474656/Portfolio/Beertrackr.jpg" style="width:100%">
        <div class="legend"><p>Création du projet, de l'identité visuelle Développement de la solution. (Bordeaux)</p>
        </div>
      </div>
    <% end %>
    <%= link_to 'https://fr-fr.facebook.com/DeafeatTheFoe', target: "blank" do %>
      <div class="each">
        <img src="https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_faces,h_570,w_850/v1641393677/Portfolio/12096476_10206742720078070_4145122384275427656_n.jpg" style="width:100%">
        <p class="legend">Création d'outils de communications (site, fb, insta, clips, organisation d'évènements (Bordeaux)</p>
      </div>
    <% end %>
  </div>
  <div class="column">
    <%= link_to 'https://modernboxrecords.com/', target: "_blank" do  %>
      <div class="each">
        <img src="https://res.cloudinary.com/da2krghvd/image/upload/c_fill,h_862,w_1300/v1545402774/Admin/modern_box_home.jpg" style="width:100%">
        <p class="legend">Création du projet, de l'identité visuelle Développement de la solution. (Bordeaux, Montréal)</p>
      </div>
    <% end %>
    <%= link_to 'https://fr-fr.facebook.com/harrietsbordeaux/', target: "_blank" do %>
      <div class="each">
        <img src="https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_center,h_530,w_800/v1641395108/Portfolio/501_116180681.jpg" style="width:100%">
        <div class="legend"><p>Community-management de l'établissement Harriet's (Bordeaux)</p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="column">
    <%= link_to 'https://www.facebook.com/HelloYvon/', target: "_blank" do  %>
      <div class="each">
        <img src="https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_north_east,h_1096,w_1640/v1641475108/Portfolio/17991474_633801330156375_8251513696756050330_o.jpg.jpg" style="width:100%">
              <div class="legend"><p>Chef de projet digital, écriture du cahier des charges, coordination d'équipe, ergonomie.(Bordeaux)</p>
        </div>
      </div>
    <% end %>
    <%= link_to 'https://youtu.be/Z2189SVfvVM', target: "_blank" do  %>
      <div class="each">
        <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641386801/Portfolio/WRE.jpg" style="width:100%">
        <p class="legend">Création de la Plateforme Modernboxrecords pour le Label (Bordeaux, Montréal)</p>
      </div>
    <% end %>
  </div>
  <div class="column">
    <%= link_to 'https://the-scars.herokuapp.com/', target: "_blank" do %>
      <div class="each">
        <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641393427/Portfolio/giphy_3.gif" style="width:100%">
        <p class="legend">Organisation de Shootings pour divers groupes de musique, organisation d'évènements </p>
      </div>
    <% end %>
    <% link_to 'https://m.facebook.com/HelloYvon/videos/pr%C3%A9vois-tes-soir%C3%A9es-avec-tes-potos-joejoe/627471487456026/', target: "_blank" do %>
      <div class="each">
        <img src="https://res.cloudinary.com/da2krghvd/image/upload/c_fill,h_174,w_260/v1641394270/Portfolio/dbbtc2huoopchc6zw99s.jpg" style="width:100%">
        <div class="legend"><p>Intégration de la solution Hello-Yvon au bal des Grands Hommes (Bordeaux)</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="break"></div>
<%= render 'shared/footer' %>
