<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/v1641304244/Portfolio/swagg.jpg);">
  <div class="container">
    <h1>Visons ensemble <strong>les étoiles</strong> !</h1>
    <p>Je réalise votre projet digital</p>
    <a class="btn btn-flat" href="#">Apply now</a>
    <a class="btn call-to-action" href="#">Apply now</a>
  </div>
</div>
<div class="techno">
  <div class="container inside">
    <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/e_grayscale/v1641152750/Portfolio/pngwing.com.png", class: 'avatar-square' %>
    <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/e_grayscale/v1641152747/Portfolio/pngegg.png", class: 'avatar-square' %>
    <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/e_grayscale/v1641152740/Portfolio/pngegg_2.png", class: 'avatar-square' %>
    <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/e_grayscale/v1641152744/Portfolio/pngegg_6.png", class: 'avatar-square' %>
    <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/e_grayscale/v1641152743/Portfolio/pngegg_5.png", class: 'avatar-square' %>
    <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/e_grayscale/v1641152742/Portfolio/pngegg_4.png", class: 'avatar-square' %>
    <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/e_grayscale/v1641152741/Portfolio/pngegg_3.png", class: 'avatar-square' %>
  </div>
</div>
<div class="deep-skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mx-auto">
        <div class="skill">
          <h1>CRÉATIVITÉ</h1>
          <p>Photoshopp/Illustrator</p>
          <p>Première</p>
          <p>XD</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mx-auto">
        <div class="skill">
          <h1>TECHNICITÉ</h1>
          <p>Prestashop/Wordpress</p>
          <p>HTML5/CSS3</p>
          <p>RUBY ON RAILS</p>
          <p>JQUERY</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mx-auto">
        <div class="skill">
          <h1>STRATÉGIE</h1>
          <p>Webmarketing</p>
          <p>SEO/Rédaction Web</p>
          <p>Web Analytics</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="banner" id="skillz" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/v1641326640/Portfolio/sachin-khadka-CBDOY6QKNFI-unsplash.jpg);">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="square-white" id="one">
        <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641133300/Portfolio/ezgif.com-gif-maker.gif" />
        <p>Gestion de projet web</p>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="square" id="two">
        <div class="description">
          <p>Je pilote la réalisation de sites et projets web mobile, depuis leur élaboration jusqu’à leur lancement.</p>
          <p>Je me charge d’assurer la transformation d’un projet digital existant ou son suivi.</p>
          <p>J'analyse les besoins, la faisabilité du projet et rédige le cahier des charges définissant les moyens techniques et humains, les budgets et délais nécessaires.</p>
          <p> Je constitue et encadre l’équipe en fonction des besoins de chaque projet et réalise un reporting régulier.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="square" id="three">
        <div class="description">
          <p>J'analyse les attentes et les demandes sur Internet, je mets en place une veille et affine le positionnement</p>
          <p>Je consulte les performances des campagnes, traduites par l’analyse des visibilités, des trafics générés et des ventes</p>
          <p>Je fidélise grâce à l’animation, la refonte ou encore la création d’une communauté. </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="square-white" id="four">
        <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641133300/Portfolio/ezgif.com-gif-maker.gif" />
        <p>Webmarketing</p>
        <p>Trafic Management</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="square-white" id="five">
        <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641133300/Portfolio/ezgif.com-gif-maker.gif" />
        <p>Webdesign</p>
        <p>Ergonomie</p>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="square" id="six">
        <div class="description">
          <p>Je conçois et réalise l'identité visuelle de votre site Internet. J'interviens sur la définition du cahier des charges : arborescence, architecture et ergonomie du site, interactivité, élaboration de la charte graphique, scénarisation d'animations </p>
          <p>Je crée ensuite les éléments graphiques nécessaires (illustrations, bannières, animations) afin de mettre en valeur le site et lui donner une identité visuelle.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="square" id="seven">
        <div class="description">
          <p>Je prends connaissance du brief présentant la demande et les contraintes éventuelles (consignes de référencement, respect d’une charte éditoriale, etc.)</p>
          <p>Je recherche de l'information sur le sujet à partir de différentes sources (site Internet, documentation fournie, livre, etc.) et retiens les renseignements pertinents et fiables</p>
          <p>Je rédige un contenu nouveau qui respecte les attentes (tonalité, mots-clés, style, etc.).</p>
          <p> Je propose des idées de mise en page, notamment dans le cas d'une publication papier (catalogue, plaquette, etc.) </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="square-white" id="height">
        <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641133300/Portfolio/ezgif.com-gif-maker.gif" />
        <p>SEO</p>
        <p>Rédaction Web</p>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
